/* ImageGallery.css */
.image-gallery .image-gallery-left-nav svg,
.image-gallery .image-gallery-right-nav svg {
    width: 30px; /* Adjust to your desired size */
    height: 30px; /* Adjust to your desired size */
}

.image-gallery .image-gallery-icon {
    font-size: 20px; /* Adjust icon size */
}
