@font-face {
  font-family: 'Nalieta';
  src: url('/font/Nalieta-Regular.woff2') format('woff2'), /* Update with actual font file names */
       url('/font/Nalieta-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nalieta';
  src: url('/font/Nalieta-Bold.woff2') format('woff2'),
       url('/font/Nalieta-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Swansea';
  src: url('/font/Swansea-Regular.woff2') format('woff2'), /* Update with actual font file names */
       url('/font/Swansea-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* WaveBanner.css */

.marquee__wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 70px; /* Adjust based on wave height */
  background-color: #1d2a58;
  border: none;
}
.banner-text{
  animation: moving ease 27s infinite;
}
@keyframes moving {
  from{
     transform: translateX(100%);;
  }
  to{
    transform: translateX(-100%);
  }
}
/* Animation for scrolling waves */
.marquee__scroll {
  display: inline-flex;
  animation: scroll 16s linear infinite;
  white-space: nowrap;
  padding-right: 0;
}



.scrolling-banner__wave-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  align-items: flex-end;
  
}

/* Keyframe for smooth scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wave {
  width: 437px;
  height: 20px;
}
